<h1>Your Pirate</h1>
    <h2> Name: <%= params[:pirate][:name] %> </h2> <br>
    <h2> Weight: <%= params[:pirate][:weight] %> </h2> <br>
    <h2> Height: <%= params[:pirate][:height] %> </h2> <br>

<h1>Ship 1</h1>
    <h2> Name: <%= params[:pirate][:ships][0][:name] %> </h2>
    <h2> Type: <%= params[:pirate][:ships][0][:type] %> </h2>
    <h2> Booty: <%= params[:pirate][:ships][0][:booty] %> </h2>
    
<h1>Ship 2</h1>
    <h2> Name: <%= params[:pirate][:ships][1][:name] %> </h2>
    <h2> Type: <%= params[:pirate][:ships][1][:type] %> </h2>
    <h2> Booty: <%= params[:pirate][:ships][1][:booty] %> </h2>